/*css reset*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: #1A5653;
}
.icon{
	width: 50px;
	border: #071330;
}
.navbar{
	background-color:#107869;
	height: 50px;

}


#landing-page{
	height: 90vh;

	background-image: url(https://wallpaperaccess.com/full/3046448.jpg);
	background-size: cover;
	background-position: center;

}
.btn{
	/*background-color: #444444;*/
	border: 1px solid #5CD85A;
	background: none;
	padding: 10px 20px;
	font-size: 20px;
	font-family: Verdana;
	margin: 10px;
	transition: 0.8s;

}
.btn1,.btn2,.btn3{
	color: #071330 ;
}
.btn1:hover,.btn2:hover,.btn3:hover{
	color: #fff;
}
.btn::before{
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	transition: 0.08s;
}
.btn1::before,.btn3::before{
	top: 0;
	border-radius: 50% 50% 0 0;
}
.btn2::before,.btn4::before{
	bottom: 0;
	border-radius: 50% 50% 0 0;
}

h2{
	font-size: 3rem;
	color: white;
	font-family: Arial;

}

#footer{
	background-color:#107869 ;
	padding: 1px;
}

h1{
	font-size: 2rem;
	font-family: code;
	border: #5CD85A;
	font-color:Black;
	background-color:#B1D8B7;
}
h5{
	font size: 1rem;
	font-family: Calibri;
	color: white;
}
h4{
	font-size: 2rem;
	font-size: code;
}
h2{
	font-family: code;

}

